/* 
 * ion-header style
 * ----------------------------------------
 */
#title {
    font-size: 1.5rem;
}

#subtitle-header {
    display: block;
}

/* 
 * ion-content style
 * ----------------------------------------
 */
#container {
    padding: 10px;
}

/* 
 * Search Bar style
 * ----------------------------------------
 */
#searchbar {
    --box-shadow: 0px 2px 25px #f1f1f1;
    --border-radius: 6px;
    --icon-color: #585858;
    --placeholder-color: #585858;
}

/* 
 * Card Caption style
 * ----------------------------------------
 */
.card-caption {
    display: flex;
    justify-content: space-between;
    margin: 30px 15px 15px 15px;
    align-items: end;
}

.card-title {
    font-size: 1.25rem;
    font-weight: bold;
}

.card-status {
    margin-left: 10px;
    font-weight: bold;
}

.card-more a {
    color: #969696;
}

/* 
 * Slide style
 * ----------------------------------------
 */
.swiper-slide-active {
    transform: scale(1.1,1.05);

    ion-card {
        #card-image {
            transform: scale(1,1);
        }
    }
}
.swiper-slide {
    transition: 400ms all ease-in-out;
}
ion-slides {
    box-shadow: 0px 2px 25px #f1f1f1;
    background-color: #f7f7f7;
}

/* 
* Card style
* ----------------------------------------
*/
ion-card {
    box-shadow: none;
    width: 100%;
}

#card-image {
    height: 200px;
    width: 100%;
    object-fit: cover;
    transform: scale(1.1,1.1) rotate(1deg);
    transition: 600ms all ease-in-out;
}

#card-details {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

#card-text ion-card-subtitle {
    text-align: left;
    color: #969696;
    margin-bottom: 5px;
    font-size: 0.75rem;
}

#card-text ion-card-title {
    text-align: left;
    font-size: 1rem;
}

#card-friends {
    display: flex;
}

#card-friends ion-avatar {
    width: 30px;
    height: 30px;
    margin-left: 5px;
}

#card-friends ion-avatar img {
    width: 30px;
    height: 30px;
}