<ion-content [fullscreen]="true" color="pure-white">
	<!-- 
		Header Content
		----------------------------------------
	-->
	<ion-header class="ion-no-border" mode="md">
		<ion-toolbar color="pure-white">
			<ion-title>
				<h1 id="title">Hi Kauã, <span id="subtitle-header">Where do you want to go?</span></h1>
			</ion-title>
		</ion-toolbar>
	</ion-header>


	<div id="container">
		<!-- 
			Search Bar - Input Destination
			----------------------------------------
		 -->
		<ion-searchbar id="searchbar" search-icon="location-sharp" placeholder="Input destination" color="pure-white"></ion-searchbar>

		<!-- 
			First Block - Daily Scenery
			----------------------------------------
		 -->
		<div class="caption">
			<div>
				<ion-text class="caption-title">Daily Scenery</ion-text>
				<ion-text class="caption-status" color="primary"><strong>Updated</strong></ion-text>
			</div>
			<ion-text class="caption-more"><a>More</a></ion-text>
		</div>

		<ion-slides [options]="option" class="ion-margin-top">
			<!-- 
				First Card
				----------------------------------------
			-->
			<ion-slide>
				<ion-card color="pure-white">
					<img id="card-image" src="../../assets/image/daily-scenery-1.jpg" alt="Top of a white apartment">
		
					<div id="card-details">
						<div id="card-text">
							<ion-card-subtitle>2018.9.17</ion-card-subtitle>
							<ion-card-title>Santa Barbara, USA</ion-card-title>
						</div>
		
						<div id="card-friends">
							<ion-avatar>
								<img alt="Silhouette of a person's head" src="../../assets/image/friend-1.jpg"/>
							</ion-avatar>
							<ion-avatar>
								<img alt="Silhouette of a person's head" src="../../assets/image/friend-2.jpg"/>
							</ion-avatar>
						</div>
					</div>
				</ion-card>
			</ion-slide>

			<!-- 
				Second Card
				----------------------------------------
			-->
			<ion-slide>
				<ion-card color="pure-white">
					<img id="card-image" src="../../assets/image/daily-scenery-2.jpg" alt="Walkway with trees from TS University">
		
					<div id="card-details">
						<div id="card-text">
							<ion-card-subtitle>2018.9.17</ion-card-subtitle>
							<ion-card-title>TS University, CAN</ion-card-title>
						</div>
		
						<div id="card-friends">
							<ion-avatar>
								<img alt="Silhouette of a person's head" src="../../assets/image/friend-2.jpg" />
							</ion-avatar>
						</div>
					</div>
				</ion-card>
			</ion-slide>
		</ion-slides>

		<!-- 
			Second Block - City
			----------------------------------------
		 -->
		<div class="caption">
			<div>
				<ion-text class="caption-title">City</ion-text>
				<ion-text class="caption-filter"><strong>Hot</strong></ion-text>
			</div>
			<ion-text class="caption-more"><a>More</a></ion-text>
		</div>

		<ion-grid class="ion-no-padding">
			<ion-row class="ion-justify-content-around">
				<ion-col size="3.5">
					<img class="city-image" src="../../assets/image/city-1.jpg" alt="Spain city">
					<p class="city-text">Spain</p>
				</ion-col>

				<ion-col size="3.5">
					<img class="city-image" src="../../assets/image/city-2.jpg" alt="Germany city">
					<p class="city-text">Germany</p>
				</ion-col>

				<ion-col size="3.5">
					<img class="city-image" src="../../assets/image/city-3.jpg" alt="Turkey city">
					<p class="city-text">Turkey</p>
				</ion-col>
			</ion-row>
		</ion-grid>

		<!-- 
			Third Block - Master
			----------------------------------------
		 -->
		<div class="caption">
			<ion-text class="caption-title">Master</ion-text>
		</div>

		<div class="master-group">
			<ion-avatar>
				<img alt="Silhouette of a person's head" src="../../assets/image/friend-2.jpg" />
			</ion-avatar>
			<ion-avatar>
				<img alt="Silhouette of a person's head" src="../../assets/image/friend-1.jpg" />
			</ion-avatar>
			<ion-avatar>
				<img alt="Silhouette of a person's head" src="../../assets/image/friend-3.jpg" />
			</ion-avatar>
			<ion-avatar>
				<img alt="Silhouette of a person's head" src="../../assets/image/friend-4.jpg" />
			</ion-avatar>
			<ion-text color="primary"><a><strong>Join them.</strong></a></ion-text>
		</div>
	</div>
</ion-content>

<!-- 
	Tab Footer
	----------------------------------------
-->
<ion-footer mode="md" class="ion-no-border">
	<ion-toolbar>
		<ion-tabs>
			<ion-tab-bar color="pure-white" class="tab-bar" >
				<ion-tab-button>
					<ion-icon name="newspaper-outline" color="primary"></ion-icon>
				</ion-tab-button>

				<ion-tab-button>
					<ion-icon name="location-outline" color="medium"></ion-icon>
				</ion-tab-button>

				<ion-tab-button>
					<ion-icon name="person-outline" color="medium"></ion-icon>
				</ion-tab-button>
			</ion-tab-bar>
		</ion-tabs>
	</ion-toolbar>
</ion-footer>
