<ion-header class="ion-no-border" mode="md">
  <ion-toolbar color="pure-white">
    <ion-title>
      <h1 id="title">Hi Mike, <span id="subtitle-header">Where do you want to go?</span></h1>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="pure-white">
  <div id="container">
    <ion-text>
      <strong>Conteúdo Principal</strong>
      <p>Em desenvolvimento</p>
    </ion-text>
  </div>
</ion-content>

<ion-footer class="ion-no-border">
  <ion-toolbar color="pure-white">
    <ion-title>Rodapé...</ion-title>
  </ion-toolbar>
</ion-footer>
